.app-screen-loader(data-ng-class="{ 'app-screen-loader--shown': isShowing(), 'app-screen-loader--hidden': !isShowing() }")
  .app-screen-loader__logo
    tccc-include-static(data-absolute="true", data-url="common/tccc-logo.svg")
